output.txt
output2.txt
photos/label1.png
photos/label4.png
photos/label9.jpeg
photos/label2.jpg
photos/label3.png
photos/label5.png
photos/label6.jpg
photos/label7.jpg
photos/label8.png
photos/label10.jpg
label11.jpg
photos/label12.png
photos/label13.png
photos/label14.png